<html>
<head>
  <script type='text/javascript' src='https://www.google.com/jsapi'></script>
  <script type='text/javascript'>
   google.load('visualization', '1', {'packages': %(packages)s});
   google.setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() {
      var data = new google.visualization.DataTable();
// -- start of generated code
%(column_snippet)s
data.addRows(%(data)s);

var options = %(options)s;
// -- end of generated code

      var chart = new google.visualization.%(class_name)s(document.getElementById('chart_div'));
      chart.draw(data, options);
  };
  </script>
</head>
<body>
  <div id='chart_div' style="width: %(width)s; height: %(height)s; margin-left:auto; margin-right:auto;"></div>
</body>

</html>